<div class="flex flex-col w-full" data-controller="canvas">
  <div id="tshirt-div" class="flex justify-center mb-4">
    <%= image_tag "tshirt.png", id: "tshirt-backgroundpicture", class:"w-full" %>
    <div id="drawing-area" class="drawing-area">
      <canvas id="custom-product-canvas" width="145" height="220"></canvas>
    </div>
 
  </div>
  <div class="flex w-full items-center">
    <%= form_with(model: custom_product) do |form| %>
      <% if custom_product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(custom_product.errors.count, "error") %> prohibited this custom_product from being saved:</h2>

          <ul>
            <% custom_product.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="flex">
        <div class="field mr-2">
          <%= form.label :right_sleeve %>
          <%= form.text_field :right_sleeve, class: "w-full"%>
        </div>

        <div class="field">
          <%= form.label :left_sleeve %>
          <%= form.text_field :left_sleeve %>
        </div>
      </div>

      <div class="flex">
        <div class="field mr-2">
          <%= form.label :front, class: "mb-2" %>
          <%= form.file_field :front, accept: 'image/png,image/gif,image/jpeg' %>
        </div>

        <div class="field">
          <%= form.label :back %>
          <%= form.text_field :back %>
        </div>
      </div>

      <div class="flex justify-between">
        <div class="field w-1/2">
          <%= form.label :size %>
          <%= form.select :size, @product.sizes.map { |size| size.upcase }, required: true %>
        </div>

        <div class="field ml-2 w-2/3">
          <%= form.label :color %>
          <%= form.select :color, @product.colors.map { |color| [color.humanize, @product.color_mappings[color]] }, required: true %>
        </div>
      </div>

      <div class="flex items-end justify-between">
        <div class="field w-1/2">
          <%= form.label :quantity, "Quantity (max: #{@product.stock})" %>
          <%= form.number_field :quantity, min: 1, max: @product.stock, required: true  %>
        </div>

        <div class="actions flex items-center ml-2 w-2/3">
          <%= form.submit "Create Customization", class: "cursor-pointer h-10 text-base font-bold text-center text-white visited:text-white w-full p-2 bg-cyan-500 hover:bg-cyan-800 rounded-md" %>
        </div>
      </div>

      <%= form.hidden_field :product_id, :value => @product.id %>
    <% end %>
  </div>
</div>
