<p id="notice"><%= notice %></p>

<p>
  <strong>Right sleeve:</strong>
  <%= @custom_product.right_sleeve.presence || 'None' %>
</p>

<p>
  <strong>Left sleeve:</strong>
  <%= @custom_product.left_sleeve.presence || 'None'  %>
</p>

<p>
  <strong>Front:</strong>
  <%= @custom_product.front.filename.presence || 'None'  %>
</p>

<p>
  <strong>Back:</strong>
  <%= @custom_product.back.presence || 'None'  %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @custom_product.quantity %>
</p>

<p>
  <strong>Size:</strong>
  <%= @custom_product.size %>
</p>

<p>
  <strong>Color:</strong>
  <%= @custom_product.color %>
</p>

<p class="mb-6">
  <strong>Product:</strong>
  <%= @custom_product.product_id %>
</p>

<%= link_to 'Back', custom_products_path, class: "cursor-pointer text-xs bg-green-500 px-2 py-1 font-semibold text-center text-white w-full rounded-md" %>
