<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr class="text-left whitespace-nowrap">
      <th>Name</th>
      <th>Colors</th>
      <th>Price €</th>
      <th>Stock</th>
      <th>Sizes</th>
      <th>Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr class="text-left">
        <td class="cursor-pointer flex items-center text-xs font-bold text-center text-white bg-cyan-500 hover:bg-cyan-800 rounded-md"><%= link_to product.name, product, class: "visited:text-white" %></td>
        <td><%= product.colors.join(", ") %></td>
        <td><%= product.price %></td>
        <td><%= product.stock %></td>
        <td><%= product.size_range %></td>
        <td><%= product.id %></td>
        </tr>
    <% end %>
  </tbody>
</table>