<p id="notice"><%= notice %></p>

<p>
  <%= @product.name %>
</p>

<p>
  <strong>Colors:</strong>
  <%= @product.colors %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Sizes:</strong>
  <%= @product.sizes %>
</p>

<p>
  <strong>Id:</strong>
  <%= @product.id %>
</p>

<%= link_to 'Customize', new_custom_product_path(product_id: @product.id) %> |
# <%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
